/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Cc]aptores/
/[Mm]emoryCaptures/
/[Mm]emory_Captures/
/[Mm]emory_captures/
/[Mm]emorycaptures/
/Logs/
/UserSettings/

# Arquivos gerados pelo Visual Studio / Monodevelop
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.VC.db

# Arquivos de Sistema
.DS_Store
Thumbs.db
